SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
#SERVER = 'http://api.us.faceplusplus.com/'
#SERVER= 'http://apicn.faceplusplus.com/'
API_KEY ="9ffeb1311042de5b6cfec336049b1f16"
API_SECRET ="k7ukJVKulj9aVjV5v8lJ1uN1pmPzm4IX"
