SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
#SERVER = 'http://api.us.faceplusplus.com/'
#SERVER= 'http://apicn.faceplusplus.com/'
API_KEY =""
API_SECRET =""
